define({
  "dataPath": "https://map.luebeck.freifunk.net/data/",
  "siteName": "Freifunk Lübeck",
  "mapSigmaScale": 0.5,
  "showContact": true,
  "maxAge": 14,
  "mapLayers": [
    {
      "name": "Karte (Humanitarian)",
      "provider": "OpenStreetMap.HOT",
      "config": {
        "attribution": "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>. Tiles courtesy of <a href=\"http://hot.openstreetmap.org\" target=\"_blank\">Humanitarian OpenStreetMap Team</a>",
        "maxZoom": 20
      }
    },
    {
      "name": "Karte (OSM Mapnik)",
      "provider": "OpenStreetMap",
      "config": {
        "attribution": "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>. ♥ <a href=\"http://donate.openstreetmap.org\" class=\"donate-attr\">Make a Donation</a>",
      }
    },
    {
      "name": "Karte (MapQuest Open)",
      "provider": "MapQuestOpen",
      "config": {
        "attribution": "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>. Tiles courtesy of <a href=\"http://www.mapquest.com/\" target=\"_blank\">MapQuest</a> <img src=\"https://developer.mapquest.com/content/osm/mq_logo.png\">",
        "maxZoom": 19
      }
    },
    {
      "name": "Satelit (Bing)",
      "provider": "Bing",
      "config": {
        "key": "<Your key>",
        "type": "AerialWithLabels",
        "maxZoom": 20
      }
    },
    {
      "name": "Einfarbige Karte (CartoDB)",
      "provider": "CartoDB",
      "config": {
        "attribution": "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>. &copy; <a href=\"http://cartodb.com/attributions\">CartoDB</a>"
      }
    },
    {
      "name": "Einfarbige Karte (Stamen Toner Lines)",
      "provider": "Stamen.TonerLite"
    }
  ]
})
